@model NoticiaListViewModel

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" style="text-align:center"> <h2> Ultimas Noticias</h2></div>
        </div>
    </div>

<div class="container">
    <div class="row">
        @foreach (var noticia in Model.Noticias)
        {
            <partial name="_NoticiaResumo" for="@noticia"/>
        }
    </div>
</div>